html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}
body {
    color: #2F3035;
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.container{
    max-width: 1200px;
    padding: 0 15px; /* padding для того чтобы при адаптиве содержмиое не прилипало к краям*/
    margin: 0 auto;
}

.header__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 122px;
    font-weight: 600;
}

.menu__item{
    display: inline-block;
}
.menu__item + .menu__item{
    padding-left: 50px;
}

.header__box{
    display: flex;
}
.header__address{
    margin-right: 60px;
    width: 265px;
    padding-left: 30px;
    position: relative;
}
.header__address::before{
    content: '';
    position: absolute;
    background-image: url('../images/address-icon.svg'); 
    width: 27px;
    height: 30px;
    left: 0;
    top: -9px;
}
.user-list{
    display: flex;
    align-items:center;
    margin-right: 15px;
}
.user-list__item{
    display: inline-block;
    padding-right: 10px;
}

.basket{
    position: relative;
}
.basket__num{
    font-family: 'SFProDisplay-Medium', sans-serif;
    position: absolute;
    background: #1C62CD;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 10px;
    bottom: -15px;
    right: -14px;
}

.menu-categories{
    background-color: #F0F0F4;
    display: flex;
    justify-content: space-around;
    align-items:center;
    min-height: 53px;
}
.menu-categories__item{
    position: relative;
}
.menu-categories__link{
    transition: all .5s;
    font-weight: 400;
    padding: 14px 0 15px 0;
    position: relative;
}
.menu-categories__link::before{
    content: '';
    position: absolute;
    width: 0;
    left: auto;
    background-color: #1C62CD;
    height: 3px;
    bottom: -2px;
    transition: all .5s;
    right: 0;
}
.menu-categories__link:hover{
   color: black;
}
.menu-categories__link:hover::before{
    width: 100%;
    right: auto;
    left: 0;
}
.header__bottom{
    margin-bottom: 78px;
}
