html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}
body {
    color: #2F3035;
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.container{
    max-width: 1200px;
    padding: 0 15px; /* padding для того чтобы при адаптиве содержмиое не прилипало к краям*/
    margin: 0 auto;
}

.header__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 122px;
}

.menu__item{
    display: inline-block;
}
.menu__item + .menu__item{
    padding-left: 50px;
}

.header__box{
    display: flex;
}
.header__address{
    margin-right: 60px;
    width: 265px;
    padding-left: 30px;
    position: relative;
}
.header__address::before{
    content: '';
    position: absolute;
    background-image: url('../images/address-icon.svg'); 
    width: 27px;
    height: 30px;
    left: 0;
    top: -9px;
}
.user-list{
margin-right: 15px;
}
.user-list__item{
    display: inline-block;
    padding-right: 10px;
}
